@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --cor-fundo-resultado: #FFFFFF;
    --cor-fundo-pagina: #F3F5FC;
    --cor-fundo-botao-criptografar: #0A3871;
    --cor-fundo-botao-descriptografar: #D8DFE8;

    --fonte-primaria: "Inter", sans-serif;;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    width: 100vw;
    background: var(--cor-fundo-pagina);
}

.cabecalho__logo {
    padding: 40px;
}

.principal {
    display: flex;
}

.principal__titulo {
    display: none;
}

.principal__conteudo {
    display: flex;
    flex-direction: column;
    width: 1000px;
}

.principal__conteudo__texto {
    font-family: var(--fonte-primaria);
    background-color: var(--cor-fundo-pagina);
    font-size: 32px;
    border: none;
    padding: 80px 240px;
    text-transform: lowercase;
}

.principal__conteudo__texto::placeholder {
    color: var(--cor-fundo-botao-criptografar)
}

.principal__conteudo__texto:focus {
    outline: none;
}

.principal__conteudo__info {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 635px 0px 0px 240px;
    font-family: var(--fonte-primaria);
    font-size: 12px;
}

.principal__conteudo__botoes {
    display: flex;
    padding: 16px 0px 0px 240px;
    width: 680px;
    justify-content: space-between;
    gap: 24px;
}

.principal__conteudo__botoes__criptografar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 328px;
    height: 67px;
    text-decoration: none;
    font-family: var(--fonte-primaria);
    color: #FFFFFF;
    background-color: var(--cor-fundo-botao-criptografar);
    font-size: 16px;
    border-radius: 24px;
}

.principal__conteudo__botoes__descriptografar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 328px;
    height: 67px;
    text-decoration: none;
    font-family: var(--fonte-primaria);
    color: #0A3871;
    background-color: var(--cor-fundo-botao-descriptografar);
    font-size: 16px;
    border-radius: 24px;
}

.principal__resultado {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #FFFFFF;
    text-align: center;
    gap: 16px;
    border-radius: 32px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}

.principal__resultado__texto {
    border:none;
    margin-top: 243px;
    padding: 0px 32px;
    height: 304px;
    font-family: var(--fonte-primaria);
    font-size: 24px;
    color:#0A3871;
    background-image: url(../assets/imagem.svg);
    background-repeat: no-repeat;
}

.principal__resultado__texto:focus {
    outline: none;
}

.principal__resultado__subtitulo {
    font-family: var(--fonte-primaria);
    font-size: 24px;
}

.principal__resultado__paragrafo {
    font-family: var(--fonte-primaria);
    font-size: 16px;
}

.principal__resultado__copiar {
    margin: 32px auto;
    width: 328px;
    height: 67px;
    text-decoration: none;
    font-family: var(--fonte-primaria);
    color: #0A3871;
    background-color: #FFFFFF;
    font-size: 16px;
    border-radius: 24px;
    border: 1px solid #0A3871
}

.rodape {
    display: flex;
    margin: 32px 0px 0px 0px;
    height: 48px;
    background-color: #0A3871;
    align-items: center;
    justify-content: center;
}

.rodape__paragrafo {
    font-family: var(--fonte-primaria);
    font-size: 16px;
    color:#FFFFFF;
    text-align: center;
    
}